@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
body {
  background-color: #34495e;
  color: white;
  font-family: "Balsamiq Sans";
  max-width: 100%;
}

header {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.left {
  border: solid 5px white;
}

.main {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

.fmenü {
  margin-left: 40px;
  margin-right: 40px;
}

#projekt {
  height: 100%;
}

.aktszoveg p {
  margin-bottom: 5px;
}

.aktkep {
  height: 100%;
  min-width: 42px;
  width: 100%;
  border: solid 3px white;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.aktkep img {
  height: 100%;
  width: 100%;
}

.aktszoveg {
  width: 100%;
}

.login {
  margin-top: 30px;
  margin-bottom: 50px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.login button {
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid;
  border-color: white;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-family: "Balsamiq Sans";
}

.login button:hover {
  background-color: white;
  color: #34495e;
  cursor: pointer;
}

.menü {
  padding-left: 24px;
}

.menü button {
  position: relative;
  border: 0;
  background: none;
  text-align: center;
  border: 2px solid;
  border-color: white;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
  font-family: "Balsamiq Sans";
}

.menü button:hover {
  background-color: white;
  color: #34495e;
  cursor: pointer;
}

.kép {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  height: 150px;
}

.kép img {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
  border: 2px solid white;
  border-radius: 24px;
}

.hír {
  position: relative;
  border: 3px solid white;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.hírsz {
  padding: 10px;
  position: relative;
}

.szöveg {
  text-align: center;
  height: 50px;
  overflow-y: scroll;
}

.sor {
  height: 100%;
}

.hír h2 {
  padding: 10px;
  font-size: 20px;
}

#kommentek {
  margin-top: 30px;
  overflow: auto;
  height: 600px;
  margin-top: 0px;
}

#komment {
  margin-top: 20px;
  width: 100%;
  height: 80px;
}

.kommentek {
  border-bottom: 3px solid white;
}

#chat {
  width: 100%;
  border-bottom: 8px solid white;
  margin-bottom: 0px;
}

.hnév {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 0px;
}

.hidő {
  margin-top: 0px;
}

.hozzászólás {
  font-size: 18px;
  word-wrap: break-word;
  margin: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  color: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#send {
  position: relative;
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid;
  border-color: white;
  padding: 14px 10px;
  max-width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-family: "Balsamiq Sans";
}

#send:hover {
  background-color: white;
  color: #34495e;
  cursor: pointer;
}

.pk {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  border: 2px solid white;
}

.my {
  width: 80%;
}

.myp {
  padding-right: 50px;
  font-size: 18px;
  padding-top: 10px;
  text-align: justify;
}

@media (max-width: 960px) {
  .menü div {
    margin: 10px;
  }
}
/*# sourceMappingURL=index.css.map */